<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


	<context:property-placeholder location="classpath:sport.properties"/>	
    <!-- Define your beans here -->
    
    <!-- define the dependency  -->
    <bean id="myService"
    		class="coach.BallService">
    	</bean>
    <bean id="mybatservice" class="coach.BatService">
    </bean>
 	<bean id="footballCoach"
 		class="coach.Football">	 	
 		<!-- set up constructor injection -->
     	<constructor-arg ref="myService" />
 			
 	</bean>

    
    <bean id="golfCoach"
        class="coach.Golf">  
        
        <constructor-arg ref="mybatservice"/>       
    </bean>
    
     <bean id="cricketcoach"
            class="coach.CricketCoach">
            <!--  set up setter injection -->
            <property name="Es" ref="mybatservice"/>
            
            <property name="email" value="${foo.email}"/>
            <property name="team" value="${foo.team}" />
     </bean>
</beans>





